<IfModule mod_rewrite.c>
  RewriteEngine On
  # Détecter les robots
  RewriteCond %{HTTP_USER_AGENT} (googlebot|facebookexternalhit|whatsapp|twitterbot|bingbot|linkedinbot) [NC]
  # Envoyer vers l'API
  RewriteRule ^(.*)$ https://api-akevas.akevas.com/render-seo?url=https://akevas.com/%{REQUEST_URI} [L,R=301]
  
  # Pour les humains (SPA)
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>